.theme-border,
.table-bordered {
    border-top: solid 2px #0ab3a3
}
.theme-color {
    color: #0ab3a3
}
.title-border {
    border-bottom: solid 2px #dfdfdf;
    padding-bottom: 30px !important;
    margin-bottom: 40px !important
}
@media only screen and (max-width: 767px) {
    .title-border {
        margin-bottom: 15px !important;
        padding-bottom: 10px !important
    }
	.saveitem.skip-link {
  text-align: left;
}
}
.theme-block {
    border: solid 1px #dfdfdf;
    border-top: solid 2px #0ab3a3;
    padding: 30px 29px;
    margin-bottom: 60px
}
.no-theme-block {
    border: none;
    padding: 0;
    margin-bottom: 0
}
.table-bordered thead>tr>th,
.table-bordered thead>tr>td {
    font-size: 16px;
    line-height: 1.667em;
    color: #333;
    text-transform: uppercase;
    font-weight: 500
}
@media only screen and (max-width: 991px) {
    .theme-block {
        padding: 15px;
        margin-bottom: 30px
    }
}
.table-bordered thead>tr>th,
.table-bordered thead>tr>td {
    border-bottom-width: 1px
}
.table-bordered th,
.table-bordered td {
    border: solid 1px #dfdfdf
}
.ink {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    z-index: 9999
}
.animate {
    -webkit-animation: ripple 0.65s linear;
    -webkit-animation: ripple 0.65s linear;
    -moz-animation: ripple 0.65s linear;
    -ms-animation: ripple 0.65s linear;
    -o-animation: ripple 0.65s linear;
    animation: ripple 0.65s linear
}
@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
        -o-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -webkit-transform: scale(2.5);
        transform: scale(2.5)
    }
}
@-moz-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
        -o-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -webkit-transform: scale(2.5);
        transform: scale(2.5)
    }
}
@-o-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
        -o-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -webkit-transform: scale(2.5);
        transform: scale(2.5)
    }
}
@keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
        -o-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -webkit-transform: scale(2.5);
        transform: scale(2.5)
    }
}
.icon-sprite,
.icon-sprite-for-modules {
    background-image: url(../images/icon_sprite.png);
    background-repeat: no-repeat;
    text-indent: -9999px
}
.icon-sprite-for-modules {
    background-image: url(../images/icon_sprite.png)
}
@media (-webkit-min-device-pixel-ratio: 2),
(min--moz-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 4 / 2),
(min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .icon-sprite,
    .icon-sprite-for-modules {
        background-image: url(../images/icon_sprite@2x.png);
        background-size: 100px 1000px
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.3)
    }
    50% {
        opacity: 1
    }
}
@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.3)
    }
    50% {
        opacity: 1
    }
}
.page-header-container {
    padding: 0 30px
}
.page-header-container:after {
    content: '';
    display: table;
    clear: both
}
.page-header-container::before {
  background: #f6f6f6 none repeat scroll 0 0;
  border-bottom: 1px solid #f5f4f4;
  bottom: 0;
  content: "";
  display: block;
  height: 56px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
}
@media only screen and (max-width: 767px) {
    .page-header-container {
        padding: 0 20px
    }

}
.page-header-container .links {
    text-align: left
}
.page-header-container .links li {
    margin-bottom: 10px
}
.page-header-container .links li:last-child {
    margin-bottom: 0
}
.page-header-container .links li a {
    color: #000;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase
}
.page-header-container .links li a:hover {
    color: #888
}
@media only screen and (min-width: 992px) {
.page-header-container {
 
  padding: 29px 30px 25px;
  position: relative;
  z-index: 3;
}
.hed_min{ max-width: 1150px; margin: 0 auto;}
    .page-header-container::after {
        content: '';
        display: table;
        clear: both
    }
    .page-header-container .f-right {
        position: relative;
        z-index: 2
    }
    .page-header-container .f-right>div {
        margin-left: 13px;
        height: 35px
    }
    .page-header-container .f-right>div a:before,
    .page-header-container .f-right>div .icon:before {
        line-height: 36px
    }
    .page-header-container.isStuck {
        background: #fff;
        width: 100%;
        /*max-width: 1600px;*/
        top: 0;
        padding-top: 19px;
        padding-bottom: 1px
    }
}
@media only screen and (min-width: 992px) and (max-width: 1618px) {
    .page-header-container.isStuck {
        /*max-width: 1230px*/
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .page-header-container.isStuck {
        /*max-width: 990px*/
    }
    .page-header-container {
  padding-left: 25px!important;padding-right: 25px!important;
   }
   .top_bar_content {
  /* padding-left: 25px!important;padding-right: 25px!important; */
}
}
@media only screen and (min-width: 992px) {
    .page-header-container.isStuck .main-menu {
        top: 0px
    }
}
@media only screen and (max-width: 991px) {
    .page-header-container.isStuck {
        position: relative !important
    }
    .pseudoStickyBlock {
        display: none !important
    }
}
.page-header {
   /* padding: 0;
    position: relative;
    z-index: 3*/
    padding-bottom: 0;
}
.header-row-background {
    padding:5px 0px;
    background-color:#EDEDED;
    text-transform: uppercase;
    font-size: 12px
}
.header-row-background a {
    color: #777
}
.header-row-background a:hover {
    color: #333
}
.header-row-background:after {
    content: '';
    display: table;
    clear: both
}
.header-row-background .form-language,
.header-row-background .currency-switcher {
    float: left;
    margin-right: 10px
}
.header-row-background .welcome-msg {
  font-size: 14px;
  position: absolute;
  right: 3px;
  top: 7px;
  text-transform: none;
}
@media only screen and (max-width: 1260px) {
    .header-row-background {
        padding-left: 15px;
        padding-right: 15px
    }
}
@media only screen and (max-width: 767px) {
    .header-row-background {
        display: none
    }
    .header-row-background .welcome-msg {
        float: none;
        text-align: center;
        margin: 0
    }
}
.header-switchers .header-button {
    float: left;
    position: relative;
    width: 55px;
    margin-right: 200px;
	margin-left:0px;
}
.header-switchers .header-button>a {
    display: block;
    height: 30px
}
.header-switchers .header-button.currency-list>a,
.header-switchers .header-button.lang-list>a {
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    text-align: center;
    padding: 4px 0 0;
    width: 100%
}
.header-switchers .header-button ul {
    display: none;
    text-align: left;
    position: absolute;
    left: 0px;
    top: 21px;
    z-index: 999;
    background: #fff;
    width: 140px;
    padding: 10px;
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.1)
}
.header-switchers .header-button ul li {
    float: none;
    display: block;
    padding-left: 0px
}
.header-switchers .header-button ul li:last-child {
    border: 0
}
.header-switchers .header-button ul li a {
    display: block;
    font-size: 12px;
    line-height: 17px;
    color: #000;
    font-weight: 300;
    padding: 4px 8px;
    min-height: 18px
}
.header-switchers .header-button ul li a:hover,
.header-switchers .header-button ul li a.selected {
    background-color: #fbfbfb;
    text-decoration: none;
    color: #0ab3a3
}
.header-switchers .header-button ul li a .mobile-part {
    display: none
}
.header-switchers .header-button>a:hover,
.header-switchers .header-button.active>a {
    text-decoration: none
}
.header-switchers .header-button.full_mode {
    width: auto;
    cursor: pointer;
    border: 0
}
.header-switchers .header-button.full_mode .header-button-title .label {
    padding-right: 5px;
    text-transform: uppercase
}
.header-switchers .header-button.full_mode .header-button-title strong {
    font-weight: normal
}
.header-switchers .header-button.full_mode .header-button-title strong:after {
    display: inline-block;
    font-family: "material-design";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "";
    font-size: 12px;
    display: inline-block;
    vertical-align: unset;
    margin-left: 7px;
	top: 0;
	position: absolute;
	right: -17px;
	
	  
}
.header-switchers .header-button.full_mode .header-button-title:hover strong {
    color: #777
}
@media only screen and (max-width: 767px) {
    .header-switchers .header-button.full_mode {
        float: none
    }
}
.logo {
    display: block;
    float: left;
    text-align: center;
    margin: 0;
    position: relative;
    z-index: 2;
    max-width: 250px;
    max-height: 100px;
	padding-top:5px;
}
.logo img {
  /* height: 80px; */
  margin-left: -22px;
  margin-top: -19px;
  position: absolute;
  z-index: 100;
}
.logo .small {
    display: block
}
.logo .large {
    display: none
}
@media only screen and (max-width: 991px) {
    .logo {
        margin: 20px 0
    }
}
@media only screen and (min-width: 768px) {
    .logo .small {
        display: none
    }
    .logo .large {
        display: block
    }
    #mobile_filters{ display: block !important;}
}
@media only screen and (max-width: 767px) {
    .logo {
        max-width: 250px
    }
    .catalog-product-view .page {
  margin-top: 0;
}
}
.skip-container.mobile {
    margin: 0 30px
}
.skip-container.mobile .skip-links {
  background-color: #fff;
  border-bottom: 0px solid #ccc;
  position: relative;
  width: 100%;
  padding: 0 10px;
}
@media only screen and (max-width: 991px) {
    .skip-container.mobile {
        margin: 0px
    }
}
.skip-links {
    clear: both;
    position: relative
}
.skip-links:after {
    content: '';
    display: table;
    clear: both
}
.welcome-msg .cusname .desktop {
  text-transform: initial;
  display: none;
}
@media only screen and (min-width: 992px) {
    .skip-links {
        border: 0;
        float: right
    }
    .skip-container {
        position: relative;
        float: right
    }
    .skip-container.mobile {
        display: none
    }
    .skip-link {
        color: #888
    }
    .skip-link:focus {
        color: #888
    }
    .skip-link:hover,
    .skip-link.skip-active {
        color: #888
    }
    .footer address span {
  display: block; margin-top: 13px;
  color:#333;
}
.welcome-msg .cusname .mobile {
  text-transform: initial;
  display: block !important;
}
.welcome-msg .cusname .desktop {
  text-transform: initial;
  display: block; 
}
}

.skip-link .icon {
    display: inline-block;
    width: auto;
    height: auto;
    vertical-align: middle;
    font-size: 24px;
    position: relative;
}
.skip-link.skip-nav .icon,
.skip-link.skip-cart:not(.no-count) .icon {
    margin-right: 3px
}
@media only screen and (min-width: 500px) {
    .skip-link .icon {
        margin-right: 3px
    }
}
.skip-link .label {
    display: none
}
@media only screen and (min-width: 500px) {
    .skip-link .label {
        display: inline
    }
}
.skip-content {
    display: none
}
.skip-content.skip-active {
    display: block;
    position: absolute;
    background: #fff;
    top: 40px;
    z-index: 1000;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.11);
    -webkit-animation: skipLinks 0.25s linear;
    -webkit-animation: skipLinks 0.25s linear;
    -moz-animation: skipLinks 0.25s linear;
    -ms-animation: skipLinks 0.25s linear;
    -o-animation: skipLinks 0.25s linear;
    animation: skipLinks 0.25s linear
}
@-webkit-keyframes skipLinks {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-moz-keyframes skipLinks {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-o-keyframes skipLinks {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes skipLinks {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
.main-menu .skip-content.skip-active {
    position: relative
}
@media only screen and (width: 417px) {
.mobile .logo {
    display: block;
    float: left;
    height: 40px;
    margin: 5px 0;
    padding: 2px 9px 2px 28px !important;
    text-align: left;
    width: 50%;
}
}
@media only screen and (max-width: 991px) {
    .top_bar_content {
  font-size: 13px;
}
.skip-cart .icon {
  margin-top: -2px;
}
    .page-header-container::before{ display: none;}
    .hed_min .logo, .hed_min .f-right{ display: none;}
    .welcome-msg{ display: none;}
    .header-search,
    .header-minicart.desktop {
        display: none
    }
	.skip-link i {
  font-size: 18px;
  line-height: 50px;
  padding: 0 0px;
}
.skip-link.skip-account {
  text-align: left;
}
.close_pro {
  font-weight: bold;
  position: absolute;
  right: 12px;
  top: 10px;
  z-index: 9;
  cursor:pointer;
}
.itemcount {
  font-size: 13px;
  position: absolute;
  top: 0;
}
.saveitem.skip-link {
  padding-right: 5px;
}
.skip-nav .icon::after {
  background: #fff none repeat scroll 0 0;
  bottom: 16px;
  content: "";
  display: none;
  height: 5px;
  position: absolute;
  width: 22px;
}
/*a.skip-link i:hover{ color:#fff;} */ 
    .skip-link {
        /*border-right: solid 1px #232323;*/
        position: relative;
        float: left;
        width: 10%;
        height: 50px;
        color: #888;
        line-height: 47px;
        text-align: right;
    }
    .skip-link.skip-nav {
        /*border-left: solid 1px #232323*/
    }
    .skip-link .label {
        color: #888; display: none;
    }
    .skip-link:hover,
    .skip-link.skip-active {
        /*background: #232323;*/
        color: #000
    }
    .skip-link.skip-active span,
    .skip-link:hover .label,
    .skip-link:hover .icon {
        color: #000
    }
    .skip-content.skip-active {
        background: #fff;
        position: absolute;
        top: 51px;
        width: 100%;
        z-index: 999;
        padding: 0 10px;
		left:0;
        -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35)
    }
    #header-account li a,
    .header-button .header-button-title {
        padding: 3px 15px 4px 25px;
        border-bottom: 1px solid #ccc;
        text-align: left;
        color: #222;
        line-height: 30px
    }
    #header-account li:last-child a {
        border-bottom: 0
    }
    .no-touch #header-account a:hover,
    .header-button .header-button-title:hover {
        background-color: #f5f5f5;
        text-decoration: none;
        cursor: pointer
    }
    .header-switchers {
        display: none
    }
    .header-button ul li a span {
        display: none
    }
    .header-button ul li a span.mobile-part {
        display: inline-block
    }
}
a.skip-link {
    text-decoration: none
}

.mobile .logo {
  display: block;
  float: left;
  margin: 5px 0;
  width: 50%;
  padding: 2px 13px 2px 17px;
  text-align: left;
  height: 40px;
}
.skip-link.skip-search {
  text-align: left;
}
.mobile .logo img {
  height: 35px;
  margin: 0;
  max-width: 100%;
  display: inline-block;
  position: inherit;
}

@media only screen and (min-width: 500px) {
    .skip-link {
       /* width: 25%*/
    }
}
.account-cart-wrapper {
    position: static;
    top: 0px;
    right: 0px
}
@media only screen and (max-width: 991px) {
    .account-cart-wrapper {
        position: static
    }
}
.slider-product-widget {
    background: #f6f7f8;
    padding: 25px 0;
    overflow: hidden;
    position: relative;
    z-index: 0;
    margin-bottom: 10px
}
.slider-product-widget .owl-item {
    padding: 0
}
.slider-product-widget .product-image {
    float: left;
    padding: 15px;
    background: #fff;
    box-shadow: 0 10px 16px -6px rgba(0, 0, 0, 0.09);
    width: 53.4%
}
.slider-product-widget .product-image.product-image-1 {
    width: 94%
}
.slider-product-widget .product-image:nth-child(even) {
    margin-left: -9%;
    margin-top: 9%;
    width: 46.3%
}
.slider-product-widget .box-image-slider {
    float: left;
    padding: 25px 25px 25px 8%;
    width: 53%
}
.slider-product-widget .box-image-slider:after {
    content: '';
    display: table;
    clear: both
}
.slider-product-widget .box-info-slider {
    position: absolute;
    top: 50%;
    left: 68%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%)
}
.slider-product-widget .product-name {
    font-size: 50px;
    line-height: 75px;
    font-weight: 300
}
.slider-product-widget .price-box {
    margin-bottom: 20px
}
.slider-product-widget .price-box .price {
    font-size: 40px;
    line-height: 46px
}
.slider-product-widget .old-price .price {
    font-size: 28px;
    line-height: 28px
}
.slider-product-widget .special_countdown {
    margin: 0 0 20px
}
.slider-product-widget .owl-controls .owl-buttons div.owl-prev,
.slider-product-widget .owl-controls .owl-buttons div.owl-next {
    top: 40%;
    left: 3%
}
.slider-product-widget .owl-controls .owl-buttons div.owl-next {
    right: 3%;
    left: auto
}
.slider-product-widget .owl-controls .owl-buttons div.owl-prev:before {
    content: ""
}
.slider-product-widget .owl-controls .owl-buttons div.owl-next:before {
    content: ""
}
@media only screen and (max-width: 991px) {
    .slider-product-widget .owl-controls .owl-buttons div.owl-prev {
        left: 7px
    }
    .slider-product-widget .owl-controls .owl-buttons div.owl-next {
        right: 7px
    }
}
@media only screen and (max-width: 1199px) {
    .slider-product-widget .product-name {
        font-size: 28px;
        line-height: 34px
    }
    .slider-product-widget .price-box .price {
        font-size: 26px;
        line-height: 30px
    }
    .slider-product-widget .old-price .price {
        font-size: 18px
    }
    .slider-product-widget .button {
        font-size: 12px;
        padding: 6px 20px
    }
}
@media only screen and (max-width: 767px) {
    .slider-product-widget .box-image-slider {
        width: auto;
        padding: 30px;
        margin-right: -9%
    }
}
@media only screen and (max-width: 767px) and (max-width: 479px) {
    .slider-product-widget .box-image-slider {
        width: 100%;
        padding: 30px 0 30px 30px
    }
}


@media only screen and (max-width: 767px) {
    .slider-product-widget .box-info-slider {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
        -webkit-transform: translate(0%, 0%);
        padding: 0 30px 30px
    }
.page {
  margin-top:10px;
}
.logo img {
  height: 42px;
  margin-left: -12px;
  margin-top: -29px;
}
.sf-menu-phone {
 /*  bottom: 0; */
  left: 0;
  max-width: 369px;
 /*  position: fixed !important; */
  /* top: 105px; */
  width: 63%;
  top: -1px;
}
.top_menu_mob{padding-left: 30px !important;}
.footer address img {
  max-width: 100%; float: none; display: inline-block; 
}
.footer address span {
  display: block;
  color:#333;
}
.footer address{ text-align: center;}
.footer ul.list-icon li a {
  font-size: 22px !important;
}
h1.catname {
  margin-bottom: 0;
}
body > .wrapper {
  background-color: #fff !important;
}
.header-row-background {
  background-color: #fff;
}

.block.block-reorder {
  border-bottom: 1px solid #ddd !important;
  margin-bottom: 26px !important;
}

}
#payment_form_fields_worldpaycw_creditcard .help-block {
    display: none;
}
.block-content .current {
  border-top: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .logo img {
  height: 65px;
  margin-top: -53px;
}
.page {
  margin-top: 18px;
}

}
@media only screen and (max-width: 479px) {
.category-products .products-grid {
  margin-left: -20px;
  margin-right: -20px;
  position: relative;
}
.header-minicart .skip-link{ border-right: none;}
.wislistmobile {
  margin-top: 0px;
}
.ug-slider-wrapper .ug-zoompanel {
  left: auto !important;
  position: absolute;
  top: 200px;
  right: 0;
}
#gallery .ug-slider-control.ug-arrow-right.ug-skin-default {
  right: -2px !important;left:auto !important;
}
}
/* .welcome-msg .cusname {
  text-transform: initial;
} */




.logo {
  max-width: 100% !important;
  text-align: center;
  width: 100%;
  text-align:center;
}



.header-button.currency-list.full_mode  ul{right:0; /*left:inherit;*/}
/* .level23 {
  font-size: 15px;
  color:#333333;
} */

.welcome-msg{font-size:20px;}
.cms-home .link-button.linkbutton {
    font-family: arial;
}
@media (min-width:992px){
.logo img {
  margin: 0 auto;
  position: static;
  text-align: center;
  max-height: 65px;
}
.page-header-container{padding-top:0px; padding-bottom:0px;}
.page-header-container .f-right{top:15px;}
.header-button.currency-list.full_mode{float:right;}
.header-switchers{width:100%; display:block;}
.main-menu{position:static !important; display:block; }
.main-menu p.welcome-msg{position:absolute; left:15px; top:102px; font-family:Gabriola;}
.page-header-container.isStuck{top:0px; padding-top:0px;}
.mobile_mess{display:none;}
/* .over_text h5.h5mobile{display:none!important;} */
/* .over_text h5.salemobileh{display:none!important;} */
}
.ug-slider-wrapper .ug-item-wrapper{
	background:#fff;
}
@media (max-width:991px){
	.main-menu p.welcome-msg{display:none;}
	.f-right{width:100%;}
	.logo{width:auto;}
	.wishlisticon{float:right; display:inline-block; padding-top:8px;}
	.mobile_mess{text-align:center; display:block; font-family:Arial; font-size:16px; padding-top:7px;}
}	

.content-hover-name {
    
    position: absolute;
	cursor: pointer;
}
.delivery_returns{margin:10px;}	
.category-sale .catname{color:#ff0000;}
.cms-home .main-container.col1-layout {
    border-top: 0 none !important;
    /* margin-top: -10px !important; */
}
.welcome-msg {
	font-size:15px;
	padding-top: 20px;
}
.newweek{font-weight: bold !important;}

